<% provide(:title, 'Contact') %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
    <h1>Contact</h1>
    <p>
    	This can be a page for support contact information for the site.
    </p>
  </body>
</html>