<% provide(:title, 'TAMU Bulletin') %>
<% if flash[:success] %>
    <p ><%= flash[:success] %></p>
<% end %>
<div style="text-align:center" class="row-fluid">
  <title><%= yield(:title) %></title>
  <h1>Welcome to TAMU Bulletin</h1>
  <% unless signed_in? %>
    <div class="row"> 
      <div class="span4 offset2" style="margin-bottom: 10px">
        <h4>New user looking to find events?</h4>
       <%= link_to "Register Here", signup_path, class: "btn btn-large btn-primary" %>
     </div>
     <div class="span5">
        <h4>Organization looking to advertise?</h4>
        <%= link_to "Register Here", '/organizations/new', class: "btn btn-large btn-primary" %>
     </div>
  </div>
  <% end %>
  <img style="align: center" src="http://biomed.tamu.edu/community/studentorg/img/student-org-header.jpg">
</div>
