<% provide(:title, 'TAMU Bulletin') %>
<div class="center hero-unit">
  <title><%= yield(:title) %></title>
  <h1>Welcome to TAMU Bulletin</h1>

  <h2>
    This is the temporary home page for the TAMU Bulletin Board.
  </h2>

  <%= link_to "New User", '/users/new', class: "btn btn-large btn-primary" %>
  <%= link_to "New Poster", '/posters', class: "btn btn-large btn-primary" %>
  <%= link_to "New Organization", '/organizations/new', class: "btn btn-large btn-primary" %>

</div>