<% provide(:title, 'TAMU Bulletin') %>
<div class="row-fluid">
  <title><%= yield(:title) %></title>
  <h1>Welcome to TAMU Bulletin</h1>

  <h2>
    This is the temporary home page for the TAMU Bulletin Board.
  </h2>

  <div class="span11 pagination-centered">
  	<li><%= link_to "New User", signup_path, class: "btn btn-large btn-primary" %></li>
  	<li><%= link_to "New Poster", '/posters', class: "btn btn-large btn-primary" %></li>
  	<li><%= link_to "New Organization", '/organizations/new', class: "btn btn-large btn-primary" %></li>
  </div>

</div>