<% provide(:title, 'TAMU Bulletin') %>
<div class="row-fluid">
  <title><%= yield(:title) %></title>
  <h1>Welcome to TAMU Bulletin</h1>
<<<<<<< HEAD
  
=======

>>>>>>> develop
  <div class="row-fluid" style="width:99%">
    <div class="span4 offset2">
      <h4>New user looking to find events?</h4>
     <%= link_to "Register Here", signup_path, class: "btn btn-large btn-primary" %>
   </div>
   <div class="span5">
      <h4>Organization looking to advertise?</h4>
      <%= link_to "Register Here", '/organizations/new', class: "btn btn-large btn-primary" %>
   </div>
  </div>

  <img src="http://biomed.tamu.edu/community/studentorg/img/student-org-header.jpg">
</div>
