<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%= @organization.name %>:</p>

    <p>Welcome to TAMU Bulletin! Your account has been confirmed by our admins,
    and you may now log in at <%= link_to new_session_url, new_session_url %>
    and begin creating posters.</p>

    <p>Thanks for joining,</p>

    <p>The TAMU Bulletin Team</p>
  </body>
</html>
