<div id="user-container" class="container-fluid">
  <div class="row-fluid">
    <span class="user-picture">
      <%= image_tag @user.picture, size: "56x56" %>
    </span>
    <span id="user-name"><%= @user.name %></span>
    <span id="user-email"><%= @user.email %></span>
  </div>

  <div id="subscription-list" class="row-fluid">
    <h2>Subscribed Organizations</h2>
    <% if @user.subscriptions.blank? %>
      None
    <% else %>
      <% @user.subscriptions.each do |subscription| %>
        <%= link_to subscription.organization.name, subscription.organization %>
      <% end %>
    <% end %>
  </div>
</div>
