<div class="container-fluid">
  <% if flash[:success] %>
      <p ><%= flash[:success] %></p>
  <% end %>
  <div class="row-fluid">
    <div class="span4">
      <% if FileTest.exist?("public/uploads/user/picture/"+@user.id.to_s+"/#{@user[:picture]}") %>
        <%= image_tag @user.picture, :size=>"400x300" %>
      <% else %>
        NO IMAGE TO SHOW
      <% end %>
      <br>
      Alerts in a scrolling vertical bar here?
    </div>
    <div class="span3">
      <h4><%= @user.name %></h4>
    </div>
    <div class="span3">
      <h4><%= @user.email%></h4>
    </div>
    <div class="span2"></div>
  </div>
  <br>
  <br>
  <div class="row-fluid">
    CAROUSEL OF SAVED POSTERS GO HERE.
  </div>
</div>