// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* universal */

html {
  overflow: auto;
  margin-top: 40px;
  /*height: 100%;*/

  -webkit-box-shadow: inset 3px 3px 2px 2px rgba(0, 0, 0, .5);
  box-shadow: inset 3px 3px 2px 2px rgba(0, 0, 0, .5);
  min-height:100%;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

body {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 24px;
  padding-left: 24px;

  background: inherit;

  background: rgb(145,2,2);
  background: -moz-linear-gradient(-45deg,  rgba(145,2,2,1) 0%, rgba(80,0,0,1) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(145,2,2,1)), color-stop(100%,rgba(80,0,0,1)));
  background: -webkit-linear-gradient(-45deg,  rgba(145,2,2,1) 0%,rgba(80,0,0,1) 100%);
  background: -o-linear-gradient(-45deg,  rgba(145,2,2,1) 0%,rgba(80,0,0,1) 100%);
  background: -ms-linear-gradient(-45deg,  rgba(145,2,2,1) 0%,rgba(80,0,0,1) 100%);
  background: linear-gradient(135deg,  rgba(145,2,2,1) 0%,rgba(80,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#910202', endColorstr='#500000',GradientType=1 );
  color:  #FFFFFF;
}

.row-fluid {
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  -webkit-box-shadow:  3px 3px 2px 2px rgba(0, 0, 0, .5);
  box-shadow:  3px 3px 2px 2px rgba(0, 0, 0, .5);

  background: rgb(255,255,255);
  background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(216,216,216,1) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(216,216,216,1)));
  background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(216,216,216,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(216,216,216,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(216,216,216,1) 100%);
  background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(216,216,216,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d8d8d8',GradientType=1 );
  color: #000000;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: #000;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #000;
}

h3 {
  font-size: 1.5em;
  letter-spacing: -1px;
  text-align: left;
  font-weight: normal;
  color:white;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #fff;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* useful for debugging */

.to-do {
  color:orange;
  text-shadow:
  -1px -1px 0 #545454,
  1px -1px 0 #545454,
  -1px 1px 0 #545454,
  1px 1px 0 #545454;
}

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}