<footer class="footer">
  <small>
    TAMU Bulletin 
    by CSCE 431-502 Team H
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>