<footer class="footer">
  <small>
    TAMU Bulletin 
    by CSCE 431-502 Team H
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '/static_pages/about' %></li>
      <li><%= link_to "Contact", '/static_pages/contact' %></li>
    </ul>
  </nav>
</footer>